/* geral */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
h1 {
    color: #75B79E;
    font-size: 56px;
    text-align: center;
    margin-top: 40px;
}

/* Tabuleiro */
main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 17px;
    min-width: 117px;
    min-height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

@media (max-width: 614px) {
    h1 {
        font-size: 36px;
    }
}